*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
body{
    background-color: white;
}

header{
    background-color: rgb(34, 177, 76);
}

.conteudo_header{
    width: 80%;
}

section{
    padding: 40px auto;
    /*border: 1px solid red;*/
    background-color: rgb(229, 253, 205);
}

.titulo-login{
    margin: 20px auto;
    font-size: 20pt;
    color: white;
}

/*inputs do login*/
label, input, select{
    display: block;
    margin: 3px;
    font-size: 16pt;
}

input, select{
    width: 80%;
    height: 40px;
    padding: 5px;
    font-size: 12pt;
    margin-bottom: 20px;
    border-radius: 5px;
}
.login, #botao-login{
    display: block;
    margin: 30px auto;
    font-size: 15pt;
    width: 70%;
    border-radius: 10px;
    height: 40px;
    padding: 0 5px;
}
#botao-login{
    background-color: rgb(40, 233, 82);
}

input[type=button]{
    background-color:darkgray;
    padding: 15px;
    width: 150px;
    border-radius: 15px;
    height: 100px;
    text-decoration: none;
    margin: 10px;
}
.w100{
    width: 100%;
    
}

/*-------------------------------------------------------------------------*/
#imagem-login{
    border-radius: 15px;
}

span.botao{
    display: block;
}
.botao_inicial{
    background-color:darkgray;
    padding: 15px;
    width: 150px;
    border-radius: 15px;
    height: 100px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}
i{
    font-size: 50px;
}

.botao_inicial:hover{
    background-color:darkgreen;
    transition: 1.5s;
    color: white;
    box-shadow: 5px 3px rgb(159, 159, 219);
    width: 160px;
    height: 120px;
}

.botao_nota{
    display: block;
    background-color:darkgray;
    
    width: 75%;
    border-radius: 15px;
    height: 50px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    font-size: 18pt;
}

.botao_nota:hover{
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}

/*divs-----------------------------------------------------------------------------*/
.quadrado-central{
    margin: 0 auto;
    /*border: 1px solid red;*/
    width: 80%;
    
}
.logo{
    background-color: rgb(34, 177, 76);
    /* linear-gradient(90dg, rgb(34, 177, 76), white);*/
}

.cabecalho{
    background-color: rgb(34, 177, 76);
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
    
}

.texto-cabecalho{
    margin: 0px 10px;
    color: aliceblue;

    /*display flex*/
    /**display: flex;
    flex-direction: column;
    justify-content: space-around;*/
}
.texto-cabecalho > p{
    margin: 10px 0;
}
.texto-cabecalho > h1{
    margin: 15px 0;
}

.flutua-esquerda{
    float: left;
    /*border: 1px solid red;*/
}

.flutua-direita{
    float: right;
}

.imagem-esquerda{
    width: 40%;
    margin: 0 1%;    
    background-size:cover;    
}

.quadrado-login{
    width: 58%;  
    /*border: 1px solid red;*/
    
}

.quadrado-dentro-login{
    border: 1px solid rgb(164, 236, 55);
    margin: auto 10%;
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
    background-image: linear-gradient(green, white);
}

div.campos{
    width: 45%;
}

/* fim do divs------------------------------------------------------------------*/


section{
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid red;*/
    padding: 0 auto;
    
}

form{
    text-align: left;
}

section > div{
    margin: 10px;
}

.container{
    padding: 15px;
    width: 95%;
    
    margin: 0 auto;
}

/*botao do menu principal*/
a.botao-menu-principal{
    width: 80px;
    height: 50px;
    background-color: aquamarine;
    display: block;
    padding: 10px;
    float: left;
    margin: 20px;
}
/*
a.botao-menu-principal:hover{
    width: 85px;
    height: 60px;
    transition: 1.5s;
}
/*fim do botao menu principal*/

div.formulario{
    text-align: left;
    margin: 0 auto;
    width: 70%;
   
}
div.nota {
    width: 80%;
    border: 1px solid rgb(8, 8, 8);
    margin: 15px auto;
    padding: 5px;
    text-align: left;
}

/*estilizacao tabela das notas*/
table{
    width: 98%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

footer{
    text-align: center;
    background-color:darkseagreen;
    margin: 15px;
    padding: 15px;
    color: aliceblue;
    
}

/*tabela de consultas*/
table.consulta{
    width: 70%;
    border: 1px solid red;
    text-align: center;
}

/*geral*/
.clear{
    clear: both;
}