<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisger - Login</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <main class="container-login">
        <!--lado esquerdo com a imagem-->
        <div class="imagem"> 
        </div>
        
        <!--lado direito com o formulário-->
        <div class="form-login">
            <!--logo dentro do formulario-->
            <div class="logo">
                <img src="" alt="">
                <h1>Login  - SISGER</h1>
            </div>

            <!--formulario de login-->
            <form action="/login" method="post">                
                <div class="campo">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" placeholder="digite o usuário" required>                
                </div>
                <div class="campo">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="digite a senha" required>
                </div>
    
                <button type="submit">Login</button>

            </form>
        </div>
    </main>
    
    
</body>
</html>