<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <!--container principal padrao-->
    <main class="container">

        <!--menu lado esquerdo-->
        <nav class="menu">
            <div class="botao-menu">Saque Férias</div>
            <div class="botao-menu">Alteração Dom. Banc.</div>
            <div class="botao-menu">Inclusão dependente</div>
            <div class="botao-menu">Inclusao Aux Transp</div>
        </nav>

        <!--imagem referenciando o menu-->
        <aside class="imagem-menu"></aside>
    </main>
</body>
</html>